@media (max-width: 768px) {
    br {
        display: none;
    }
    h2 {
        font-size: 35px;
        line-height: 45.61px;
    }
    .container {
        max-width: 668px;
        padding: 0px 50px;

    }
    .container-flex {
        max-width: 668px;
        padding: 0px 50px;
    }
    .nav {
        padding-top: 47.5px;
        padding-bottom: 47.5px;
    }
    /* WELCOME */
    .welcome-container {
        flex-direction: row-reverse;
    }
    .welcome-item {
        margin-top: 41px;
        max-width: 346px;
    }
    .welcome-header {
        font-size: 35px;
        margin-bottom: 31px;
    }
    .welcome-descr {
        font-size: 16px;
        line-height: 25px;
    }
    .welcome-leafs {
        margin-top: 41px;
        width: 280px;
        height: 254.15px;
        background-image: url(./assets/img/leafs_768.png);
    }
    .welcome-btn {
        margin-top: 31px;
        margin-bottom: 71px;
    }
    /* ABOUT */
    .about {
        max-height: 783px;
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about-item {
        padding-top: 40px;
        height: 350px;
        padding-bottom: 40px;
    }
    .about-header {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .about-plant {
        width: 250px;
        height: 258px;
        margin-bottom: 95px;
    }
    /* SERVICE */
    .service {
        padding-bottom: 70.77px;
    }
    .service-content {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 61px;
        margin: 0 0 41px 0;
    }
    .service-header {
        margin-bottom: 40px;
    }
    .service-item {
        width: 281px;
    }
    .service-item:nth-child(-n + 4){
        content: '';
        margin-bottom: 38px;
    }
    .service-item:nth-child(n+4) {
        margin-top: 0px;
    }
    .service-item-img {
        width: 280px;
    }
    /* PRICES */
    .prices {
        padding-top: 42.42px;
        padding-bottom: 91px;
    }
    .prices-header {
        font-size: 35px;
        line-height: 42.36px;
    }
    .prices-right {
        margin-top: 99px;
    }
    .prices-right-header {
        font-size: 25px;
        line-height: 35px;
        max-width: 296px;
    }
    .prices-right-btn {
        margin-top: 25.59px;
        margin-bottom: 34px;
    }
    .prices-items {
        margin-top: 50px;
    }
    /* CONTACTS */
    .container-contacts {
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
    }
    .contacts-header {
        font-size: 40px;
        line-height: 52px;
    }
    .contacts-right {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items:center;

    }
    .contacts-item {
        margin-top: 100px;
        float: none;
    }
    .contacts-left {
        padding-top: 0px;
        margin-top: 250px;
    }
    .contacts-woman {
        width: 200px;
        height: 248px;
    }
    /* FOOTER */
    .footer {
        padding-top: 33px;
        padding-bottom: 18px;
    }
    .container-footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-link-github {
        margin-bottom: 16px;
    }
    .footer-link-rsschool {
        margin-bottom: 16px;
        margin-left: 0px;
    }
    .footer a {
        line-height: 24.2px;
    }
}


@media (max-width: 380px) {
    .container {
        max-width: 380px;
        padding: 0px 25px;

    }
    .container-flex {
        max-width: 380px;
        padding: 0px 25px;
    }
    .nav-list {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(29%, 60%, 9%, 1);
        transition: 0.5s all;
    }
    .nav-list_active {
        left: 0;
    }
    .nav {
        padding: 36px 0px;
    }
    .hamb {
        display: flex;
        align-items: center;
    }
    .hamb-field {
        width: 40px;
        height: 24px;
        cursor: pointer;
        background: #EDF2EC;
      }
    .bar {
        display: block;
        height: 0px;
        border: 1px solid #717171;
        margin-bottom: 5px;
    }
    .bar:last-child {
        margin-bottom: 0px;
    }
    .bar_active:first-child {
        transform: rotate(-45deg);
    }
    .bar_active:nth-child(2) {
        display: none;
    }
    .bar_active:nth-child(3) {
        display: none;
    }
    .bar_active:nth-child(4) {
        transform: rotate(45deg);
        margin-top: -6px;
    }
    /* WELCOME */
    .welcome-leafs {
        display: none;
    }
    .welcome-item {
        margin-top: 24px;
    }
    .welcome-header {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20.36px;
    }
    .welcome-btn {
        width: 100px;
        margin-top: 20.08px;
        margin-bottom: 24px;
        padding: 4px 15px;
        font-size: 10px;
        line-height: 20px;
    }
}