.container {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #010201;
}
.header {
    width: 134px;
}
.nav{
    display: flex;
    align-items: center;
}
.logo {
    width: 52%;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.logo::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 100px;
    top: 35px;
    background-image: url(./assets/icons/logo_vector.svg);
}
.nav-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 4;
    align-items: center;
    list-style-type: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}